<div class="text-body">
  <div class="text-container">
    <div class="box">
      <span style="--i:1;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:2;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:3;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:4;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:5;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:6;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:7;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:8;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:9;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:10;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:11;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:12;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:13;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:14;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:15;"><i>CSS</i> is <i>A</i>wesome</span>
      <span style="--i:16;"><i>CSS</i> is <i>A</i>wesome</span>
      <!--360 / 16 = 22.5deg-->
    </div>
  </div>
</div>


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=TQyOL1u10EI&t=53s"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>



