<div class="cube-body">
  <section>
    <video src="assets/css-tricks/tricks/video-cube-d/video.mp4" autoplay="" muted="" loop="" ></video>
    <div class="box">
      <div>
        <span><video src="assets/css-tricks/tricks/video-cube-d/video.mp4" autoplay="" muted="" loop="" ></video></span>
        <span><video src="assets/css-tricks/tricks/video-cube-d/video.mp4" autoplay="" muted="" loop="" ></video></span>
        <span><video src="assets/css-tricks/tricks/video-cube-d/video.mp4" autoplay="" muted="" loop="" ></video></span>
      </div>
    </div>
    <!-- /.box -->
  </section>
</div>
<!-- /.cube-body -->

<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=D_8ZhbQQThE"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
