<div class="curved-header">
    <section>
      <div class="content">
        <h2>Best  Trick For Making Curve Header </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur impedit laboriosam quos sed totam vitae. A, fugit id illum impedit iure nam nemo nisi nulla odio porro quam, quibusdam reiciendis!</p>
      </div>
      <!-- /.content -->
    </section>
</div>
<!-- /.curwed-header -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=0gCMLAivggc"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
