<div class="layout-body">
           <div class="layout-container">

             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/washing-hand.png" alt="">
                 <p>Wash hands with soa.</p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/cold.png" alt="">
                 <p>Wash hands with soap nd</p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/flight.png" alt="">
                 <p>Wash hands with soap .</p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/first-aid-kit.png" alt="">
                 <p>Wash hands with soap </p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/medical-mask.png" alt="">
                 <p>Wash hands with soap </p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/cooking.png" alt="">
                 <p>Wash hands with soap </p>
               </div>
             </div>
             <!-- /.box -->


             <div class="box">
               <div class="content">
                 <img src="assets/crib/css/masonry-layout-grid/fever.png" alt="">
                 <p>Wash hands with soap </p>
               </div>
             </div>
             <!-- /.box -->

           </div>
           <!-- /.layout-container -->
</div>
<!-- /.layout-body -->



<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=7glClI-rj74"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
<!--<div class="additional-links">-->
<!--  <a href="https://www.youtube.com/watch?v=ra5qNKNc95U&list=PLHfvxV8-y-JpjZZoBe70UsMmUAEdW-ouu"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на видео с анимацией в Angular</a>-->
<!--</div>-->
<!--<div class="additional-links">-->
<!--  <a href="https://webformyself.com/angular-animacii-ozhivlyaem-prilozheniya/"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на статью с анимацией в Angular</a>-->
<!--</div>-->
