<div class="responsive-body">
  <header id="heaader">
    <a href="#" class="logo">Logo</a>
    <div id="toggle"></div>
   <div id="navbar">
     <ul>
       <li><a href="#home">Home</a></li>
       <li><a href="#about">About</a></li>
       <li><a href="#services">Services</a></li>
       <li><a href="#team">Team</a></li>
       <li><a href="#portfolio">Portfolio</a></li>
       <li><a href="#contact">Contact</a></li>
     </ul>
   </div>
  </header>
  <!-- /#heaader -->
  <section id="home">Home</section>
  <section id="about">About</section>
  <section id="services">Services</section>
  <section id="team">Team</section>
  <section id="portfolio">Portfolio</section>
  <section id="contact">Contact</section>

</div>
<!-- /.responsive-body -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=FhjyRg-LYKc"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
