.skewed-body{
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060c21;

}
.skewed-container{
  position: relative;
  width: 94%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) );
  grid-template-rows: auto;
  grid-gap: 20px;
}

.skewed-container .box{
  position: relative;
  height: 400px;
  background-color: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  transform-style: preserve-3d;
}
$size: -3px;
.skewed-container .box::before{
  content: '';
  position: absolute;
  top: $size;
  left: $size;
  right: $size;
  bottom: $size;
  transform: translateZ(-1px) skew(3deg, 3deg);
}
.skewed-container .box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.skewed-container .box:nth-child(1)::before{
  background: linear-gradient(315deg, #ff0057, #e64a19);
}

.skewed-container .box:nth-child(2)::before{
  background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.skewed-container .box:nth-child(3)::before{
  background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.skewed-container .box:nth-child(4)::before{
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.box  .content{
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}

.box .content  h2{
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
  font-weight: 700;
}
.box:hover .content  h2{
  top: -140px
}
.box .content  h3{
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.box .content  p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}
.box .content  a{
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: white;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .content  a{
  transform: translateY(0);
  opacity: 1;
  visibility:  visible;
}
.box .content  a:hover{
  color: #000;
  background: #fff;
}


