<div class="animation-body">
  <section>
    <p class="text">
           <span
             *ngFor="let letter of itemPrefix; let i = index"
             [@moveLetter]="state[i]"
             (mouseover)="state[i] = 'move'"
           >{{ letter }} </span>

    </p>
  </section>
</div>
<!-- /.animation-body -->



<div class="link__tutorial">
<a href="https://www.youtube.com/watch?v=FAK-43mw3x8"
   target="_blank"
   title="Ссылка на видео откроется в новом окне"
>Ссылка на видео</a>
</div>
<div class="additional-links">
  <a href="https://www.youtube.com/watch?v=ra5qNKNc95U&list=PLHfvxV8-y-JpjZZoBe70UsMmUAEdW-ouu"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео с анимацией в Angular</a>
</div>
