<div class="animation-body">
  <section>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic id non, quasi sapiente temporibus? Aliquid blanditiis deserunt eos nihil nisi obcaecati quis reprehenderit totam unde. Deleniti illo iste nobis!Distinctio impedit laudantium recusandae voluptatibus. Aspernatur, cum dolor iure nemo nobis quod! Accusantium aliquid aspernatur cum eveniet facilis harum ipsa libero molestias obcaecati odit, omnis reiciendis repellat reprehenderit similique vel? Corporis deleniti dolore itaque labore magnam nobis. Accusamus delectus dolore impedit quibusdam repellat similique tenetur unde! Consequatur, dolorem ducimus earum fuga minima modi, nam nobis, nulla optio sequi tempore voluptas?Accusantium adipisci animi aspernatur consequuntur dolor, dolorem dolorum, earum est excepturi illum ipsa itaque molestiae nihil non optio placeat possimus quia reprehenderit rerum saepe soluta ullam velit! Alias, laboriosam, laudantium!
    </p>
  </section>
</div>
<!-- /.animation-body -->
