<div class="different-body">
  <section class="one">
    <h1>Section One</h1>
    <div class="one__icon">:)</div>
  </section>

  <section class="two">
    <h1>Section two</h1>
    <img src="https://fillmurray.com/300/500" alt="" class="two__image">
  </section>

  <section class="three">
    <h1>Section three</h1>
  </section>
</div>
<!-- /.different-body -->



<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=QY7Rj8aZcZk"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
<div class="additional-links">
  <a href="https://bennettfeely.com/clippy/"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Clip-path website</a>
</div>
<!-- /.additional-links -->
<div class="additional-links">
  <a  href="https://codepen.io/kevinpowell/pen/bvWrEV"
      target="_blank"
      title="Ссылка на видео откроется в новом окне"
  >CodePen from this video</a>
</div>
<!-- /.additional-links -->
