<div class="row">

  <div class="col s3 transparent nav-sidebar">

        <h6 class="card-title">Hover</h6>
        <ul class="nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'image-hover-overlay'">Image Hover Overlay</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'card-hover-effects'">Card Hover Effects</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'flip-hard-hover'">3d Flip Card Hover Effects</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'gradient-glassmorphism-card'">Glowing Gradient Glassmorphism Card </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'social-media-icon'">3D Layered Social Media Icon Hover </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'skewed-border'">Skewed Border Creative Box Border Hover Effects</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'user-card-interactions'">User Card Interactions</a>
          </li>
        </ul>

    <!-- Grey navigation panel -->
  </div>

  <div class="col s9">
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
    <!-- Teal page content  -->
  </div>

</div>
