
<div class="skewed-header">

  <section>
    <div class="content">
      <h2>Skewed Header</h2>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio dolorum ea eaque, exercitationem explicabo impedit ipsum iusto mollitia nihil non nulla obcaecati, pariatur, quis velit? Earum illum repellat suscipit?</span><span>Alias asperiores at atque cupiditate dolor dolorem eius est eveniet, harum iusto minus nesciunt nobis omnis pariatur perferendis placeat quisquam repellat reprehenderit repudiandae rerum temporibus tenetur ullam veniam voluptas voluptatum!</span></p>
    </div>
    <!-- /.content -->
  </section>
</div>
<!-- /.skewed-header -->

<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=0gCMLAivggc"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>


