
<div class="silhouette-body">
  <div class="content">
    <div class="box">
      <img src="assets/css-tricks/tricks/inside-silhouette/pexels-public-domain-pictures-41314.jpg" alt="">
      <img src="assets/css-tricks/tricks/inside-silhouette/africa.jpg" alt="">
    </div>
    <!-- /.box -->
    <div class="box">
      <video src="assets/css-tricks/tricks/inside-silhouette/4970459.mp4" autoplay muted loop></video>
      <img src="assets/css-tricks/tricks/inside-silhouette/africa.jpg" alt="video">
    </div>
    <!-- /.box -->
  </div>
  <!-- /.content -->
</div>
<!-- /.silhouette-body -->



<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=l9Me4mro0iQ"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
