<div class="overlay-body">
  <div class="content-main">
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-daria-shevtsova-3793316.jpg" alt="">
             </div>
      <div class="contentBx">
        <div class="content">
          <h3>Post One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
      </div>
    </div>
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-diana-akhmetianova-4721999.jpg" alt="">
             </div>
             <!-- /.imgBx -->
      <div class="contentBx">
        <div class="content">
          <h3>Post Two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.contentBx -->
    </div>
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-jess-bailey-designs-745760.jpg" alt="">
             </div>
             <!-- /.imgBx -->
      <div class="contentBx">
        <div class="content">
          <h3>Post Three</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.contentBx -->
    </div>
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-miesha-maiden-535087.jpg" alt="">
             </div>
             <!-- /.imgBx -->
      <div class="contentBx">
        <div class="content">
          <h3>Post Four</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.contentBx -->
    </div>
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-olya-kobruseva-5238645.jpg" alt="">
             </div>
             <!-- /.imgBx -->
      <div class="contentBx">
        <div class="content">
          <h3>Post Five</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.contentBx -->
    </div>
    <div class="card">
             <div class="imgBx">
               <img src="assets/css-tricks/hover/image-hover-overlay/pexels-pixabay-266755.jpg" alt="">
             </div>
             <!-- /.imgBx -->
      <div class="contentBx">
        <div class="content">
          <h3>Post Six</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda autem, corporis culpa deleniti enim facilis id ipsa ipsum iure molestiae necessitatibus quas rerum sapiente tempore unde vitae!</p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.contentBx -->
    </div>

  </div>

</div>
<!-- /.overlay-body -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=wK8sx2vyMJ0"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
