
<div class="effects-body">
  <div class="effects-container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="assets/css-tricks/hover/card-hover-effects/sketch.png" alt="">
          <h3>Design</h3>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face1 -->
      <div class="face face2">
        <div class="content">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur culpa cum dolore dolorum eligendi eveniet ex, facere, inventore laudantium magni omnis, provident qui quibusdam quis repellat repudiandae suscipit?</p>
          <a href="#">Read More</a>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face2 -->
    </div>
    <!-- /.card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="assets/css-tricks/hover/card-hover-effects/data.png" alt="">
          <h3>Code</h3>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face1 -->
      <div class="face face2">
        <div class="content">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur culpa cum dolore dolorum eligendi eveniet ex, facere, inventore laudantium magni omnis, provident qui quibusdam quis repellat repudiandae suscipit?</p>
          <a href="#">Read More</a>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face2 -->
    </div>
    <!-- /.card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="assets/css-tricks/hover/card-hover-effects/startup.png" alt="">
          <h3>Launch</h3>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face1 -->
      <div class="face face2">
        <div class="content">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur culpa cum dolore dolorum eligendi eveniet ex, facere, inventore laudantium magni omnis, provident qui quibusdam quis repellat repudiandae suscipit?</p>
          <a href="#">Read More</a>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.face2 -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.effects-container -->
</div>
<!-- /.effects-body -->

<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=EZqhWu8GJ6U"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
<div class="additional-links">
  <a href="https://www.flaticon.com/free-icon/data_1197460"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >сервис с иконками</a>
</div>
<!-- /.additional-links -->
<!--<div class="additional-links">-->
<!--  <a href="https://webformyself.com/vvedenie-v-css-shapes/"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на туториал</a>-->
<!--</div>-->
<!--&lt;!&ndash; /.additional-links &ndash;&gt;-->
