.text-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  padding: 50px;
  background: #111;
}

section h2 {
 color: #fff;
  font-size: 2.5em;
}
section p{
  color: white;
  font-size: 1.2em;
  text-align: justify;
}
 .girl{
   height: 250px;
   width: auto;
   float: left;
   // FIXME: Изображение должно находиться в папке с компонентом.
   // TODO: Иначе не работает
   shape-outside: url(girl-1-1.png);
   //margin-right: 20px;
   shape-margin: 20px;
   border: 1px solid green;
 }
 .kidman{
   height: 250px;
   width: auto;
   float: right;
   border: 1px solid green;
   // FIXME: Изображение должно находиться в папке с компонентом.
   // TODO: Иначе не работает
   shape-outside: url(kidman.png);
   margin-left: 10px;
   shape-margin: 10px;
   margin-left: 20px;
   shape-margin: 20px;

 }
.gradient {
  float: left;
  height: 300px;
  width: 100%;
  background: linear-gradient(to bottom right, #86F7CC, transparent);
  shape-outside: linear-gradient(to bottom right, #86F7CC, transparent);
  shape-image-threshold: .5;
}
