.text-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  padding: 50px;
  background: #111;
}

section h2 {
 color: #fff;
  font-size: 2.5em;
}
section p{
  color: white;
  font-size: 1.2em;
}
 .kidman{
   height: 250px;
   float: left;
   // TODO: shape-outside dosn't working
   shape-outside: url(/src/assets/css-tricks/text/text-around-image/round-balloon.png);
 }

.gradient {
  float: left;
  height: 300px;
  width: 100%;
  background: linear-gradient(to bottom right, #86F7CC, transparent);
  shape-outside: linear-gradient(to bottom right, #86F7CC, transparent);
  shape-image-threshold: .3;
}
