<div class="container">

  <h5 class="card-title">crib works!</h5>
  <ul class="nav tabs tabs-transparent  blue-grey">

    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'animation'"
         routerLinkActive="active"
      > crib animation</a>
    </li>

    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'css'"
         routerLinkActive="active"
      > crib css </a>
    </li>


    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'html'"
         routerLinkActive="active"
      > crib html </a>
    </li>


    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'js'"
         routerLinkActive="active"
      > crib js </a>
    </li>


    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'media'"
         routerLinkActive="active"
      > crib media </a>
    </li>


    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'menu'"
         routerLinkActive="active"
      > crib menu </a>
    </li>

  </ul>
  <p class="card-text">
    <router-outlet></router-outlet>
  </p>
</div>

