<div class="row">

  <div class="col s3 transparent nav-sidebar">

    <h6 class="card-title">Text</h6>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'text-around-image'">Wrap Text Around Image using CSS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'text-hover'">Test hover</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--  <a class="nav-link" [routerLink]="'test-second'">Test second</a>-->
      <!--</li>-->
      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--  <a class="nav-link" [routerLink]="'test-three'">Test three</a>-->
      <!--</li>-->
    </ul>


    <!-- Grey navigation panel -->
  </div>

  <div class="col s9">
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
    <!-- Teal page content  -->
  </div>

</div>
