<app-header-main></app-header-main>
<router-outlet></router-outlet>
<app-footer-main></app-footer-main>




<!--<div class="link__tutorial">-->
<!--  <a href="https://www.youtube.com/watch?v=7glClI-rj74"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на видео</a>-->
<!--</div>-->
<!--<div class="additional-links">-->
<!--  <a href="https://www.youtube.com/watch?v=ra5qNKNc95U&list=PLHfvxV8-y-JpjZZoBe70UsMmUAEdW-ouu"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на видео с анимацией в Angular</a>-->
<!--</div>-->
<!--<div class="additional-links">-->
<!--  <a href="https://webformyself.com/angular-animacii-ozhivlyaem-prilozheniya/"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на статью с анимацией в Angular</a>-->
<!--</div>-->
