<div class="user-body">
  <div class="user-container">

    <div class="card">
      <div class="imgBx">
        <img src="assets/css-tricks/hover/user-card-interactions/designer.jpeg" alt="">
      </div>
      <!-- /.imgBx -->
      <div class="content">
        <div class="contentBx">
          <h3>Someone Famous<br><span>Creative Designer</span></h3>
        </div>
        <!-- /.contentBx -->
        <ul class="sci">
          <li style="--i:1"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li style="--i:2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li style="--i:3"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <!-- /.sci -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.card -->

    <div class="card">
      <div class="imgBx">
        <img src="assets/css-tricks/hover/user-card-interactions/designer-2.webp" alt="">
      </div>
      <!-- /.imgBx -->
      <div class="content">
        <div class="contentBx">
          <h3>Someone Famous<br><span>Creative Designer</span></h3>
        </div>
        <!-- /.contentBx -->
        <ul class="sci">
          <li style="--i:1"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li style="--i:2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li style="--i:3"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <!-- /.sci -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.card -->

    <div class="card">
      <div class="imgBx">
        <img src="assets/css-tricks/hover/user-card-interactions/designer-3.webp" alt="">
      </div>
      <!-- /.imgBx -->
      <div class="content">
        <div class="contentBx">
          <h3>Someone Famous<br><span>Creative Designer</span></h3>
        </div>
        <!-- /.contentBx -->
        <ul class="sci">
          <li style="--i:1"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li style="--i:2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li style="--i:3"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <!-- /.sci -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.card -->

  </div>
  <!-- /.user-container -->
</div>
<!-- /.user-body -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=TN4DoHiWrQQ"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
