<div class="popup-body">
  <div class="popup-container">
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-11 copy.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-11.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-12.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-12.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-13.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-13.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-14.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-14.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-15.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-15.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
      <div class="circle-popup">
        <img src="assets/css-tricks/tricks/circle-avatar/girl-16.png" alt="girl-1.jpeg">
      </div>
      <img src="assets/css-tricks/tricks/circle-avatar/girl-16.png" alt="girl-1.jpeg">
      <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <div class="box">
      <div class="box-inner">
        <div class="circle-popup">
          <img src="assets/css-tricks/tricks/circle-avatar/girl-17.png" alt="girl-1.jpeg">
        </div>
        <img src="assets/css-tricks/tricks/circle-avatar/girl-17.png" alt="girl-1.jpeg">
        <!-- /.circle -->
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.popup-container -->
</div>
<!-- /.popup-body -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=mi-p_q2J8Ek"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
