.gradient-body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #111;
}
.gradient-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.gradient-container .box{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  color: #fff;
  background: #111;
  transition: .5s;
}
.gradient-container .box:hover{
  transform: translateY(-20px);
}
.gradient-container .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  //z-index: -1;
}

.gradient-container .box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
 filter: blur(30px);
}
.gradient-container .box:nth-child(2)::before,
.gradient-container .box:nth-child(2)::after{
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.gradient-container .box:nth-child(3)::before,
.gradient-container .box:nth-child(3)::after{
  background: linear-gradient(315deg, #4dff03, #000dff);
}
$border: 6px;
.gradient-container .box span{
  position: absolute;
  top: $border;
  left: $border;
  bottom: $border;
  right: $border;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.gradient-container .box span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.gradient-container .box .content{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.gradient-container .box .content h2{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.gradient-container .box .content p{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.gradient-container .box .content a{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}
