<div class="flip-body">
  <div class="flip-container">
    <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/balls.jpeg" alt="">
      </div>
      <div class="details">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      </div>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->   <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/cherry.jpeg" alt="">
      </div>
      <div class="details">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      </div>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->   <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/forest.jpeg" alt="">
      </div>
      <div class="details">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      </div>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->   <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/fresh.jpeg" alt="">
      </div>
      <div class="details">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      </div>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->   <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/girl.jpeg" alt="">
      </div>
      <div class="details">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      </div>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->   <div class="card">
      <div class="imgBox">
        <img src="assets/css-tricks/hover/flip-hard-hover/sunset.jpeg" alt="">
      </div>
      <div class="details">
          <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias facere provident unde vero. A accusamus assumenda, cumque et excepturi explicabo illo laboriosam necessitatibus nisi omnis, perspiciatis sint velit vero! Beatae culpa deleniti, doloremque ducimus iure magnam modi nisi</p>
      <!-- /.detail -->
      <!-- /.imgBox -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.flip-container -->
</div>
<!-- /.flip-body -->



<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=7glClI-rj74"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
<!--<div class="additional-links">-->
<!--  <a href="https://www.youtube.com/watch?v=ra5qNKNc95U&list=PLHfvxV8-y-JpjZZoBe70UsMmUAEdW-ouu"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на видео с анимацией в Angular</a>-->
<!--</div>-->
<!--<div class="additional-links">-->
<!--  <a href="https://webformyself.com/angular-animacii-ozhivlyaem-prilozheniya/"-->
<!--     target="_blank"-->
<!--     title="Ссылка на видео откроется в новом окне"-->
<!--  >Ссылка на статью с анимацией в Angular</a>-->
<!--</div>-->
