<div class="glass-body">
     <section>

       <div>
         <h2 id="rangeValue">0</h2>
         <div id="fillRangeTopLeft"></div>
         <div id="fillRangeTopRight"></div>
         <div id="fillRangeBottomLeft"></div>
         <div id="fillRangeBottomRight"></div>
         <input type="range" class="range" value="0" min="0" max="100"
                (mousemove)="rangeSlider($event)"
                (change)="rangeSlider($event)" >
       </div>

     </section>
</div>
<!-- /.glass-body -->



<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=weZFfrjF-k4"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
