<div class="skewed-body">
  <section class="skewedBox">
    <div class="content">
      <h1>Online Tutorial</h1>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minima molestias mollitia nemo nostrum quaerat quidem! Obcaecati perferendis quisquam vel! Beatae blanditiis debitis deleniti ducimus facere iusto magnam repellendus sit.</span><span>Aliquid aspernatur cumque dignissimos distinctio eius illo ipsa molestiae officiis porro sequi similique sit sunt, veritatis! Earum, eum facilis id ipsum molestias necessitatibus nisi omnis praesentium quis sit ullam veniam.</span></p>
    </div>
  </section>
  <section class="sec2">
      <h1>Plz Subscribe Us</h1>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minima molestias mollitia nemo nostrum quaerat quidem! Obcaecati perferendis quisquam vel! Beatae blanditiis debitis deleniti ducimus facere iusto magnam repellendus sit.</span><span>Aliquid aspernatur cumque dignissimos distinctio eius illo ipsa molestiae officiis porro sequi similique sit sunt, veritatis! Earum, eum facilis id ipsum molestias necessitatibus nisi omnis praesentium quis sit ullam veniam.</span></p>
  </section>
</div>
<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=v2Jw9pa6sFo"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
