/* You can add global styles to this file, and also import other style files */
@import "outline";
.row .col{
}
.row .col.s3{
  margin: 0  -10px !important;
}
 .nav-sidebar{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-right: 1px solid rgba(128, 128, 128, 0.5);
   .nav-item{
     background-color: #ffffff;
     transition: all .2s;
   }
   .nav-item:hover{
     background-color: rgba(255, 206, 0, 0.34);
   }
   .nav-link{
     padding: 10px;
     color: gray;
     display: block;
   }
 }

.nav-item.active{
  background-color: rgba(206, 206, 206, 0.75);
}

.link__tutorial{
  max-width: 460px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content:center;
  background: linear-gradient(45deg, #8614ce, #ff0057);

  a{
    color: white;
    text-align: center;
    font-size: 22px;
  }

}
