<div class="container">

  <h5 class="card-title">crib works!</h5>
  <ul class="nav tabs tabs-transparent  blue-grey">

    <li class="nav-item tab">
      <a class="nav-link" [routerLink]="'etqw'"
         routerLinkActive="active"
      >ETQW</a>
    </li>



    <!--<li class="nav-item tab">-->
    <!--  <a class="nav-link" [routerLink]="'menu'"-->
    <!--     routerLinkActive="active"-->
    <!--  >menu</a>-->
    <!--</li>-->

  </ul>
  <p class="card-text">
    <router-outlet></router-outlet>
  </p>
</div>



<!--<h5 class="card-title">Статьи которые нужно перетащить сюда</h5>-->


<!--  <div class="additional-links">-->
<!--    <a href="https://frontender.info/css-shapes/"-->
<!--       target="_blank"-->
<!--       title="Ссылка на видео откроется в новом окне"-->
<!--    >Создание непрямоугольных макетов при помощи CSS-форм</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.additional-links &ndash;&gt;-->
<!--</div>-->


