<div class="row">

  <div class="col s3 transparent nav-sidebar">

    <h6 class="card-title">Tricks</h6>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'zig-zag'" >Zig-zag</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'skewed-header'">Skewed Header</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'curved-header'">Curved Header</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'skewed-background-first'">Skewed Background First</a>
      </li>
    </ul>


    <!-- Grey navigation panel -->
  </div>

  <div class="col s9">
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
    <!-- Teal page content  -->
  </div>

</div>
