<div class="video-body">
  <div class="video-container">

             <div class="box">
               <video  src="assets/crib/js/video-gallery-play/video_1.mp4" type="video/mp4" loop muted class="clip"></video>
             </div>
             <!-- /.box -->

             <div class="box">
               <video  src="assets/crib/js/video-gallery-play/video-2.mp4" type="video/mp4" loop  muted class="clip"></video>
             </div>
             <!-- /.box -->

             <div class="box">
               <video  src="assets/crib/js/video-gallery-play/video-3.mp4" type="video/mp4" loop muted class="clip"></video>
             </div>
             <!-- /.box -->

             <div class="box">
               <video   src="assets/crib/js/video-gallery-play/video-4.mp4" type="video/mp4" loop muted class="clip"></video>
             </div>
             <!-- /.box -->
             <div class="box">
               <video   src="assets/crib/js/video-gallery-play/video-5.mp4" type="video/mp4" loop muted class="clip"></video>
             </div>
             <!-- /.box -->
             <div class="box">
               <video   src="assets/crib/js/video-gallery-play/video-6.mp4" type="video/mp4" loop muted class="clip"></video>
             </div>
             <!-- /.box -->

  </div>
  <!-- /.video-container -->
</div>
<!-- /.vide0-body -->


<div class="link__tutorial">
  <a href="https://www.youtube.com/watch?v=dx4oAxaR1As"
     target="_blank"
     title="Ссылка на видео откроется в новом окне"
  >Ссылка на видео</a>
</div>
